// flashmessage

$flashmessage-alert-color: #e74c3c;
$flashmessage-notice-color: #38AEF0;
$flashmessage-font-color: #fff;

// left-content

$fontcolor: #fff;
$left-contents-width: 260px;

// main-content

$chat-fontcolor: #434a54;
$info-fontcolor: #999999;
$button-color: #38aef0;
$button-font-color: #fff;
$main-contents-width: calc(100vw - 300px - 80px);
$groupname-grey: #333333;
